.loki-wrapper {
    height: 100%;
}
#loki-container-wrap {
    height: 100%;
    > .ant-layout {
        height: 100%;
    }
}
.ant-layout-has-sider {
    height: 100%;
}
.ant-layout-header {
    position: relative;
    background: #FFF;
    box-shadow: 0 0 2px 1px rgba(#000, 0.3);
    z-index: 10;
}
.ant-layout-content {
    background: #FFF;
    border-left: 1px solid rgba(#000, 0.1);
}

.dashboard-wrap{

    .dashboard-header {
        text-align: center;
        color: #1890ff;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 30px;
    }

    .dashboard-chart{
        display: flex;

        p{
            margin-bottom: 5px;
        }

        > div{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .percent-col{
            width: 50px;
            display: flex;
            justify-content: center;
            background: #e8e8e8;
            min-height: 50px;
            height: 170px;
            position: relative;
            border-radius: 3px;
            margin-bottom: 15px;
            span {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                background: #1890ff;
            }
            i{
                position: absolute;
                bottom: 10px;
                color: white;
            }
        }

        p.chart-statistic-number {
            color: black;
            font-weight: bold;
            font-size: 22px;
        }

        .dashboard-chart-percent__line{
            .percent-line__top {
                width: 2px;
                height: 70%;
                min-height: 70px;
                background: #e8e8e8;
            }
            .percent-line__number {
                background: #e8e8e8;
                padding: 10px 20px;
                position: relative;
                &:before{
                    content: ' ';
                    position: absolute;
                    width: 27.5px;
                    height: 28px;
                    transform: rotate(45deg);
                    background: #e8e8e8;
                    top: 6.5px;
                    right: -14px;
                    z-index: 0;
                }
            }
            .percent-line__bottom{
                width: 2px;
                height: 30px;
                margin-top: 5px;
                background: #e8e8e8;
            }
        }
    }

    .dashboard-statistic {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        border-top: 1px solid #e8e8e8;
        padding-top: 20px;

        >div{
            padding: 20px 40px;
            text-align: center;
        }

        .dashboard-statistic--number {
            color: black;
            font-weight: bold;
            font-size: 22px;
        }
    }
}