.loki-wrapper {
    height: 100%;
}
#loki-container-wrap {
    height: 100%;
    > .ant-layout {
        height: 100%;
    }
}
.ant-layout-has-sider {
    height: 100%;
}
.ant-layout-header {
    position: relative;
    background: #FFF;
    box-shadow: 0 0 2px 1px rgba(#000, 0.3);
    z-index: 10;
}
.ant-layout-content {
    background: #FFF;
    border-left: 1px solid rgba(#000, 0.1);
}