#install-app-wrap {
    height: 100%;
}
.loki-install {
    display: flex;
    height: 100%;
    .loki-install-box {
        position: relative;
        width: 50%;

        &.bg-blue{
            background: #1890ff;
        }

        h2 {
            text-align: center;
            font-weight: 700;
            font-size: 35px;
            color: #1890ff;
            margin-bottom: 5px;
        }

        p{
            font-weight: 400;
            font-size: 15px;
            color: #777683;
            text-align: center; 
            margin-bottom: 30px;
        }
    }
}
.loki-install-welcom {
    padding: 0 10%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 100px);
}
.loki-install-label {
    background: #F00;
    position: absolute;
    top: 34px;
    left: -120px;
    transform: rotate(-45deg);
    width: 340px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
