.ant-table-pagination {
    display: none;
}
.ant-table-column-title {
    white-space: nowrap;
}
.ant-table-row-cell-product {
    display:flex;
    align-items: center;
}
.ant-table-row-cell-product-img {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 3px 1px rgba(#000, 0.08);
    border-radius: 4px;
    margin-right: 10px;
    img {
        max-width:100%;
    }
}
.ant-table-row-cell-product-name {

}